

//COLORI PRIMARI    
$color-primary-cyan: hsl(193, 38%, 86%);
$color-primary-green: hsl(150,100%,66%);


//COLORI NEUTRAL
$color-neutral-blueChiaro: hsl(217, 19%, 38%);
$color-neutral-blueChiaroScuro: hsl(217, 19%, 24%);
$color-neutral-blueScuro: hsl(218, 23%, 16%);